/***************************************

	RESET

***************************************/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym {
	border:0;
}

/***************************************

	GENERAL

***************************************/

body {
	font-family:"Arial", Verdana, Tahoma;
	font-size:100%;
	line-height:100%;
	text-align:center;
}

.clear {
	clear:both;
	font-size:0;
	line-height:0;
}

.widthWrap {
	width:990px;
	margin:0 auto;
	text-align:left;
}

/***************************************

	TYPOGRAPHY

***************************************/

h1 {
	text-indent:-9999px;
	background:url(../images/logo.png) no-repeat 0px 0px;
	width:182px;
	height:50px;
	float:left;
}

h2 {
	
}

h3 {
	
}

a {
	
}

a:hover {
	
}

a:visited {
	
}

p {
	
}

/***************************************

	HEADER

***************************************/

#header {
	height:50px;
	background:url(../images/background.jpg) no-repeat #6f9f8d 0;
}

h1.headerLogo {

}

div.headerContainer {
	position:relative;
	margin:0 auto;
	width:990px;
	text-align:left;
	z-index:100;
}

div.headerMenu {
	position:relative;
	z-index:150;
	padding:17px 0 0;
}

div.headerMenu a {
	float:left;
	font-size:14px;
	font-family:"Arial", Verdana, Tahoma;
	font-weight:bold;
	color:#b4e086;
	text-decoration:none;
	margin:0 0 0 10px;
	outline:none;
}

div.headerMenu a:hover {
	color:#e6ffcb;
	text-decoration:none;
}

div.headerMenu a.filterButtonAdd {
	float:right;
}

div.filterDropdown {
	display:none;
}

div.headerLayer {
	position:absolute;
	background-color:#000;
	margin:7px 0 0;
	height:35px;
	top:0;
	width:100%;
	z-index:50;
	opacity: .5;
	filter: alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

div.headerUnderline {
	height:5px;
	background-color:#ebebeb;
}

/***************************************

	CONTENT - MIN NEWSPAPER

***************************************/

#content {
	
}

div.grid a {
	display:inline-block;
	width:320px;
	vertical-align:top;
	outline:none;
	text-decoration:none;
}

div.grid a span {
	width:300px;
	color:#000;
	text-decoration:none;
	display:block;
}

/* SPAN-CLASSES
***************************************/

div.grid a span.title {
	margin:30px 0 5px;
	font-size:140%;
	font-family:Times New Roman;
	line-height:100%;
}

div.grid a span.summary {
	font-size:75%;
	line-height:150%;
}

/* DETAILS */

div.grid a span.details span {
	color:#b1b1b1;
	margin:10px 5px 0 0;
	font-size:75%;
	width:auto;
	float:left;
}

div.grid a span.details span.category,
div.grid a span.details span.time {
	font-weight:bold;
}

div.grid a span.details span.buy {
	margin:10px 0 0 5px;
	font-weight:bold;
	float:right;
}

/* HOVER */

div.grid a:hover span.details span {
	color:#000;
}

div.grid a:hover span.details span.buy {
	color:#29744b;
}

/* FAVICONS
***************************************/

div.grid a span.details span.icon,
span.icon {
	width:16px;
	height:16px;
	background:url(../images/favicons.png) no-repeat 0 0;
	display:inline-block;
}

div.grid a span.details span.berlingske {
	background-position:0px -16px;
}

div.grid a:hover span.details span.berlingske,
span.berlingske {
	background-position:0px 0px;
}

div.grid a span.details span.politiken {
	background-position:-128px -16px;
}

div.grid a:hover span.details span.politiken,
span.politiken {
	background-position:-128px 0px;
}

div.grid a span.details span.urban {
	background-position:-112px -16px;
}

div.grid a:hover span.details span.urban,
span.urban {
	background-position:-112px 0px;
}

div.grid a span.details span.bt {
	background-position:-48px -16px;
}

div.grid a:hover span.details span.bt,
span.bt {
	background-position:-48px 0px;
}

div.grid a span.details span.ekstrabladet {
	background-position:-32px -16px;
}

div.grid a:hover span.details span.ekstrabladet,
span.ekstrabladet {
	background-position:-32px 0px;
}

div.grid a span.details span.avisen {
	background-position:-96px -16px;
}

div.grid a:hover span.details span.avisen,
span.avisen {
	background-position:-96px 0px;
}

div.grid a span.details span.borsen {
	background-position:-144px -16px;
}

div.grid a:hover span.details span.borsen,
span.borsen {
	background-position:-144px 0px;
}

div.grid a span.details span.timer24 {
	background-position:-80px -16px;
}

div.grid a:hover span.details span.timer24,
span.timer24 {
	background-position:-80px 0px;
}

div.grid a span.details span.information {
	background-position:-176px -16px;
}

div.grid a:hover span.details span.information,
span.information {
	background-position:-176px 0px;
}

div.grid a span.details span.kristeligt {
	background-position:-16px -16px;
}

div.grid a:hover span.details span.kristeligt,
span.kristeligt {
	background-position:-16px 0px;
}

div.grid a span.details span.businessdk {
	background-position:-160px -16px;
}

div.grid a:hover span.details span.businessdk,
span.businessdk {
	background-position:-160px 0px;
}

div.grid a span.details span.jyllandsposten {
	background-position:-64px -16px;
}

div.grid a:hover span.details span.jyllandsposten,
span.jyllandsposten {
	background-position:-64px 0px;
}

/***************************************

	CONTENT - ARTICLE

***************************************/

div.article { width:650px; }

div.article h2 {
	font-size:170%;
	margin:30px 0 20px;
	line-height:110%;
	font-family:Times New Roman;
}

div.article p {
	clear:both;
}

div.article p.summary {
	font-size:100%;
	line-height:130%;
	margin:0 0 20px;
}

div.article p.full {
	font-size:80%;
	line-height:140%;
}

div.article div.divider {
	height:1px;
	margin:30px 0 20px;
	font-size:0;
	line-height:0;
	width:100%;
	background-color:#e5e5e5;
}

div.article p.author {
	font-size:80%;
	font-weight:bold;
	color:#d3d3d3;
}

div.article p.author span.icon {
	margin:0px 5px 0 0;
	float:left;
}

div.article p.author span.text {
	float:left;
}

div.article p.author span.text span {
	color:#b3b3b3;
}

div.article p.author a.back {
	float:right;
	width:60px;
	height:16px;
	background:url(../images/back.png) no-repeat 0 0;
	display:block;
	outline:none;
}

div.article p.author a.back:hover {
	background-position:0 -16px;
}

/***************************************

	FOOTER

***************************************/

#footer {
	
}