<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Roppingi</title>
    <link type="text/css" rel="stylesheet" href="style/stylesheet.css" />
	<script type="text/javascript" src="lib/hdStore.js"></script>
	<script type="text/javascript" src="lib/localStorage.js"></script>
	<script type="text/javascript" src="lib/priority.js"></script>
	<script type="text/javascript" src="lib/jquery-1.4.1.min.js"></script>
	<script type="text/javascript" src="lib/jquery-jqote.js"></script>
	<script type="text/javascript" src="lib/jquery.masonry.min.js"></script>
</head>
<body>
    <div>
        <!-- HEADER -->
        <div id="header">
            <div class="headerContainer">
                <h1>test</h1>
            </div>
            <div class="headerLayer">
            </div>
            <div class="headerMenu widthWrap">
                <a href="index.php">min avis</a>
                <a href="criteria.php">kriterier</a>
                <a href="settings.php">indstillinger</a>
                <a href="account.php">konto</a>
                <a href="#" class="filterButtonAdd"></a>
            </div>
        </div>
        <div class="headerUnderline">
            &nbsp;</div>
        <!-- CONTENT -->
        <div id="content">
            <div class="widthWrap">
	            <div class="grid" id="grid">
	            </div>
            </div>
        </div>
        <!-- FOOTER -->
        <div id="footer">
            <div class="widthWrap">
            </div>
        </div>
    </div>
	<script type="text/javascript" src="scripts/baseClasses.js"></script>
	<script type="text/javascript" src="scripts/classes.js"></script>
	<script type="text/html" id="feature">
		<![CDATA[
		<% for (var i = 0; i < this.articles.length; i++){ %>
			<a href="article<%= this.articles[i].id %>.php">
            	<span class="title"><%= this.articles[i].headline %></span>
				<span class="summary"><%= this.articles[i].deck %></span>
				<span class="details">
					<span class="icon <%= this.articles[i].providerName %>"></span>
					<span>Oprettet </span>
					<span class="time"><%= this.articles[i].dateline %></span>
					<span>i </span>
					<span class="category"><%= this.articles[i].topic %></span>
					<span class="buy"><%= this.articles[i].price %></span>
				</span>
			</a>
		<% } %>
		]]>            		
	</script>
	<script type="text/javascript">
		// comments for refactoring
		/* initial */
		$('#content').addClass('loading');
		user = new Roppongi.Customer({
		    "customer_input_id": 1234,
		    "customer_name": "Jon Ege Ronnenberg",
		    "customer_email": "jon.ronnenberg@gmail.com"
		});
		/* end initial */
		$(function() {
			/* data */
			$.getJSON("api/" + user.id + "/articles", function(data, textStatus) {
		        var article;
				try {
					for (var key in data.articles) {
						article = new Roppongi.Article(data.articles[key]);
						Roppongi.Articles.add(article.id, article);
					}
					$('#feature').jqote({
						articles: Roppongi.Articles.toArray()
					}).appendTo('#grid');
				}catch(e){
					console.error(e);
				}
				$('#content').removeClass('loading');
				
				/* visual */				
				$('#grid').masonry({ columnWidth: 330 , singleMode: true });
				/* end visual */
		    });
			/* end data */
		});
	</script>
</body>
</html>